@use "../../sass/partials/variables";

@mixin btn {
  font-weight: 500;
  padding: 0.7rem 2rem;
  border-radius: 999px;
  cursor: pointer;
  user-select: none;
}

.buttonPrimary {
  @include btn;
  background-color: white;
  color: black;

  &:hover {
    background-color: #{variables.$primary-color-hover};
  }
}

.buttonSecondary {
  @include btn;
  background-color: transparent;
  color: white;

  &:hover {
    background-color: variables.$secondary-color;
  }
}
