/* Typography */
$fontFamily: "Poppins", sans-serif, "Arial", "Helvetica";
$textColor: #eeeeee;
$textSecondaryColor: #a3a3a3;

/* Background */
$backgroundColor: #171717;
$backgroundSurface: #222222;

/* Broder */
$borderColor: #313131;
